*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.barra_menu{
	background: #000;
	padding: 1%;
	width: 100%;
}

.barra_menu a{
	color: #fff;
	text-decoration: none;
	font-size: 2em;
}
nav{
	position: fixed;
	width: 35%;
	background: rgba(0,0,0,0.7);
	height: 100vh;
	display: none;
}

nav form{
	width: 90%;
	padding: 10px;
	background:  #ccc;
	border-radius: 3px;
	margin: 20px auto;
}

nav form input[type="text"]{
	background: #ccc;
	padding: 10px;
	width: 90%;
	border: none;
}

nav ul{
	list-style: none;
}

nav ul li{
	width: 90%;
	display: block;
	padding: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
	margin: 0 auto;
}


nav ul li a{
	color: #fff;
	text-decoration: none;
}

nav ul li span{
	margin-right: 10px;
}

	.iconos a{
		font-size: 3em;
		position: absolute;
		bottom: 20px;
		right: 20px;
		color:#000;
		text-decoration: none; 
	}

	.icon-cross{
		display: none;

	}

.icon-menu{
	display: none;
}

@media screen and (max-width: 600px){


.alta{
		display: none;
		width: 90%;
		margin:0 auto;
	}

.listado{
		width: 90%;

	}

.icon-cross{
		display: block;
	}

.icon-menu{
		display: block;
	}

nav input[type="text"]{
	width: 70%;
	padding: 10px;
	background:  #ccc;
	border-radius: 3px;
	margin: 20px auto;
}

}